*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #080808;
    color: #fff;
}

#home{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(1.jpg);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 5%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
    color:cornflowerblue;
    font-size: 35px;
    font-family:'Courier New';
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 15px 20px;
    font-weight: bold;

}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;

}
nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 15%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color:aqua;
}
/*-----------about----------*/

#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
    font-size: 25px;
    font-family:'Times New Rsoman';
    color:#ababab;

}
.sub-title{
    font-size: 50px;
    font-weight: bold;
    color:#fff;
    font-family: 'Times New Roman';
    text-transform: uppercase;
}
.tab-title{
    display: flex;
    margin: 20px 0 40px;
    text-transform:uppercase;
}
.tab-links{
    margin-right: 50px;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 100%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    text-transform:capitalize;
}
.tab-contents ul li span{
    color: #ff004f;
    font-size: 30px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
